// Typography
$font-primary: 'DM Sans', sans-serif;
$font-accent: 'Wix Madefor Display', sans-serif;

// Colors
$color-white: #FFFFFF;
$color-black: #111111;
$color-text-main: $color-black;
$color-text-light: $color-white;

// Backgrounds
$color-bg-dark: $color-black;
$color-bg-light: $color-white;

