@use "./../../init" as *;

.c-solution-cta {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.8rem;

    &__image {
        position: absolute;
        inset: 0;
        background-color: var(--c-bg);
        background-position: center;
        background-size: cover;
        z-index: 1;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%);
        z-index: 2;
    }

    &__content {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        padding: 4.8rem;
        color: #fff;

        @include iphone {
            padding: 3.2rem 2rem;
        }

        &__title {
            margin: 0 0 2rem 0;
            font-family: "Wix Madefor Display", sans-serif;
            font-size: 3.5rem;
            font-weight: 800;
            line-height: 1.2;

            @include iphone {
                font-size: 2.4rem;
            }
        }

        &__description {
            margin: 0 0 3.2rem 0;
            font-family: "DM Sans", sans-serif;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.6;
            max-width: 42rem;

            @include iphone {
                font-size: 1.5rem;
            }
        }

        &__button {
            width: fit-content;
            display: flex;
            gap: 1.2rem;
            align-items: center;
            padding: 1.6rem 2.4rem;
            color: #fff;
            background: #dd1969;
            border: none;
            border-radius: 0.4rem;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 700;


            @include iphone {
                width: 100%;
                justify-content: center;
            }

            .sc-text { font-weight: 700; font-size: 1.6rem; }
        }
    }
}